.designing-spaces {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.designing-spaces__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* ---------------------> MEDIA QUERIES <--------------------*/

/* =================== DESKTOP (>=1024px) =================== */

@media (min-width: 1024px) {
  .designing__spaces {
    width: 100%;
  }
}
