.designing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  width: 100%;
}
.designing__content {
  padding: 40px 0;
}

/* ---------------------> MEDIA QUERIES <--------------------*/

/* =================== TABLET (>=768px) ===================== */
@media (min-width: 768px) {
  .designing {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0;
    align-items: center;
    gap: 40px;
  }
  
  .designing-spaces {
    width: 50%;
  }
  .designing__content {
    text-align: left;
    align-items: flex-start;
  }
}

/* =================== DESKTOP (>=1024px) =================== */
@media (min-width: 1024px) {
  .designing {
    flex-direction: column;
    gap: 50px;
  }
  
  .designing-spaces {
    width: 100%;
  }
  .designing__content {
    text-align: center;
    align-items: center;
  }
}
