.page__logo {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  max-width: 30%;
  z-index: 10;
}

@media (min-width: 768px) {
  .page__logo {
    object-fit: contain;
    top: 20%;
    width: 250px;
  }
}

@media (min-width: 1024px) {
  .page__logo {
    object-fit: contain;
    top: 15%;
    width: 300px;
  }
}
